openapi: 3.0.3

info:
  title: Court Booking Backend API
  version: "v1"
  description: Court Booking Backend — API v1

servers:
  - url: https://api-field.gravitycat.tw/v1
    description: Production Server
  - url: http://localhost:8080/v1
    description: Local Server

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: 身份認證 (註冊 / 登入)
  - name: Me
    description: 目前登入者資訊
  - name: Users
    description: 使用者管理 (System Admin Only)
  - name: Organizations
    description: 組織/場館主管理
  - name: Members
    description: 組織成員權限管理
  - name: Locations
    description: 實體場館據點
  - name: ResourceTypes
    description: 場地類型 (如：羽球場、會議室)
  - name: Resources
    description: 實際可預約資源 (如：A球場、B會議室)
  - name: Bookings
    description: 預約交易
  - name: Announcements
    description: 系統公告

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    page:
      $ref: "./components/parameters.yml#/page"
    page_size:
      $ref: "./components/parameters.yml#/page_size"
    sort:
      $ref: "./components/parameters.yml#/sort"

  schemas:
    # --------------------------
    # Common Responses
    # --------------------------
    ErrorResponse:
      $ref: "./components/schemas/common.yml#/ErrorResponse"

    PageResponse:
      $ref: "./components/schemas/common.yml#/PageResponse"

    # --------------------------
    # User Models
    # --------------------------
    UserResponse:
      $ref: "./components/schemas/user.yml#/UserResponse"

    MeResponse:
      $ref: "./components/schemas/user.yml#/MeResponse"

    RegisterRequest:
      $ref: "./components/schemas/user.yml#/RegisterRequest"

    LoginRequest:
      $ref: "./components/schemas/user.yml#/LoginRequest"

    LoginResponse:
      $ref: "./components/schemas/user.yml#/LoginResponse"

    UpdateUserBody:
      $ref: "./components/schemas/user.yml#/UpdateUserBody"

    # --------------------------
    # Organization Models
    # --------------------------
    OrganizationResponse:
      $ref: "./components/schemas/organization.yml#/OrganizationResponse"

    CreateOrganizationRequest:
      $ref: "./components/schemas/organization.yml#/CreateOrganizationRequest"

    # --------------------------
    # Member Models
    # --------------------------
    MemberResponse:
      $ref: "./components/schemas/member.yml#/MemberResponse"

    AddMemberRequest:
      $ref: "./components/schemas/member.yml#/AddMemberRequest"

    UpdateMemberRequest:
      $ref: "./components/schemas/member.yml#/UpdateMemberRequest"

    # --------------------------
    # Location Models
    # --------------------------
    LocationResponse:
      $ref: "./components/schemas/location.yml#/LocationResponse"

    CreateLocationBody:
      $ref: "./components/schemas/location.yml#/CreateLocationBody"

    UpdateLocationBody:
      $ref: "./components/schemas/location.yml#/UpdateLocationBody"

    # --------------------------
    # ResourceType Models
    # --------------------------
    ResourceTypeResponse:
      $ref: "./components/schemas/resourcetype.yml#/ResourceTypeResponse"

    CreateResourceTypeBody:
      $ref: "./components/schemas/resourcetype.yml#/CreateResourceTypeBody"

    # --------------------------
    # Resource Models
    # --------------------------
    ResourceResponse:
      $ref: "./components/schemas/resource.yml#/ResourceResponse"

    CreateResourceRequest:
      $ref: "./components/schemas/resource.yml.yml#/CreateResourceRequest"

    UpdateResourceRequest:
      $ref: "./components/schemas/resource.yml#/UpdateResourceRequest"

    # --------------------------
    # Booking Models
    # --------------------------
    BookingResponse:
      $ref: "./components/schemas/booking.yml#/BookingResponse"

    CreateBookingRequest:
      $ref: "./components/schemas/booking.yml#/CreateBookingRequest"

    UpdateBookingRequest:
      $ref: "./components/schemas/booking.yml#/UpdateBookingRequest"

    # --------------------------
    # Announcement Models
    # --------------------------
    AnnouncementResponse:
      $ref: "./components/schemas/announcement.yml#/AnnouncementResponse"

    CreateAnnouncementRequest:
      $ref: "./components/schemas/announcement.yml#/CreateAnnouncementRequest"

    UpdateAnnouncementRequest:
      $ref: "./components/schemas/announcement.yml#/UpdateAnnouncementRequest"

paths:
  # ============================
  # Auth
  # ============================
  /auth/register:
    $ref: "./paths/auth.yml#/register"

  /auth/login:
    $ref: "./paths/auth.yml#/login"

  # ============================
  # Me
  # ============================
  /me:
    $ref: "./paths/me.yml#/me"

  # ============================
  # Users (System Admin)
  # ============================
  /users:
    $ref: "./paths/users.yml#/listUsers"

  /users/{id}:
    $ref: "./paths/users.yml#/userDetail"

  # ============================
  # Organizations
  # ============================
  /organizations:
    $ref: "./paths/organizations.yml#/listOrganizations"

  /organizations/{id}:
    $ref: "./paths/organizations.yml#/organizationDetail"

  # ============================
  # Members
  # ============================
  /organizations/{id}/members:
    $ref: "./paths/members.yml#/listMembers"

  /organizations/{id}/members/{user_id}:
    $ref: "./paths/members.yml#/memberDetail"

  # ============================
  # Locations
  # ============================
  /locations:
    $ref: "./paths/locations.yml#/listLocations"

  /locations/{id}:
    $ref: "./paths/locations.yml#/locationDetail"

  # ============================
  # Resource Types
  # ============================
  /resource-types:
    $ref: "./paths/resourcetypes.yml#/listResourceTypes"

  /resource-types/{id}:
    $ref: "./paths/resourcetypes.yml#/resourceTypeDetail"

  # ============================
  # Resources
  # ============================
  /resources:
    $ref: "./paths/resources.yml#/listResources"

  /resources/{id}:
    $ref: "./paths/resources.yml#/resourceDetail"

  # ============================
  # Bookings
  # ============================
  /bookings:
    $ref: "./paths/bookings.yml#/listBookings"

  /bookings/{id}:
    $ref: "./paths/bookings.yml#/bookingDetail"

  # ============================
  # Announcements
  # ============================
  /announcements:
    $ref: "./paths/announcements.yml#/listAnnouncements"

  /announcements/{id}:
    $ref: "./paths/announcements.yml#/announcementDetail"

  # ============================
  # Shared / Common Schemas for Reference
  # ============================
  # (The models defined under components/schemas are referenced above)
