openapi: 3.0.3

info:
  title: Court Booking Backend API
  version: "v1"
  description: Court Booking Backend — API v1

servers:
  - url: https://api-field.gravitycat.tw/v1
    description: Production Server
  - url: http://localhost:8080/v1
    description: Local Server

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: 身份認證 (註冊 / 登入)
  - name: Me
    description: 目前登入者資訊
  - name: Users
    description: 使用者管理 (System Admin Only)
  - name: Organizations
    description: 組織管理
  - name: Organization Members
    description: 組織成員管理
  - name: Organization Managers
    description: 組織管理員管理
  - name: Locations
    description: 場域管理
  - name: Location Managers
    description: 場域管理員管理
  - name: Resources
    description: 場地管理 (實際可預約單位，如：A球場、B會議室)
  - name: Bookings
    description: 場地預約管理
  - name: Announcements
    description: 系統公告管理
  - name: Files
    description: 檔案存取

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    page:
      $ref: "./components/parameters.yml#/page"
    page_size:
      $ref: "./components/parameters.yml#/page_size"

  schemas:
    # --------------------------
    # Common Responses
    # --------------------------
    ErrorResponse:
      $ref: "./components/schemas/common.yml#/ErrorResponse"

    PageResponse:
      $ref: "./components/schemas/common.yml#/PageResponse"

    # --------------------------
    # User Models
    # --------------------------
    UserResponse:
      $ref: "./components/schemas/user.yml#/UserResponse"

    MeResponse:
      $ref: "./components/schemas/user.yml#/MeResponse"

    RegisterRequest:
      $ref: "./components/schemas/user.yml#/RegisterRequest"

    LoginRequest:
      $ref: "./components/schemas/user.yml#/LoginRequest"

    LoginResponse:
      $ref: "./components/schemas/user.yml#/LoginResponse"

    UpdateUserRequest:
      $ref: "./components/schemas/user.yml#/UpdateUserRequest"

    # --------------------------
    # Organization Models
    # --------------------------
    OrganizationResponse:
      $ref: "./components/schemas/organization.yml#/OrganizationResponse"

    CreateOrganizationRequest:
      $ref: "./components/schemas/organization.yml#/CreateOrganizationRequest"

    # --------------------------
    # Manager Models
    # --------------------------
    ManagerResponse:
      $ref: "./components/schemas/member.yml#/ManagerResponse"

    AddOrganizationManagerRequest:
      $ref: "./components/schemas/member.yml#/AddOrganizationManagerRequest"

    AddMemberRequest:
      $ref: "./components/schemas/member.yml#/AddMemberRequest"

    # --------------------------
    # Location Models
    # --------------------------
    LocationResponse:
      $ref: "./components/schemas/location.yml#/LocationResponse"

    CreateLocationRequest:
      $ref: "./components/schemas/location.yml#/CreateLocationRequest"

    UpdateLocationRequest:
      $ref: "./components/schemas/location.yml#/UpdateLocationRequest"

    # --------------------------
    # Resource Models
    # --------------------------
    ResourceResponse:
      $ref: "./components/schemas/resource.yml#/ResourceResponse"

    CreateResourceRequest:
      $ref: "./components/schemas/resource.yml#/CreateResourceRequest"

    UpdateResourceRequest:
      $ref: "./components/schemas/resource.yml#/UpdateResourceRequest"

    # --------------------------
    # Booking Models
    # --------------------------
    BookingResponse:
      $ref: "./components/schemas/booking.yml#/BookingResponse"

    CreateBookingRequest:
      $ref: "./components/schemas/booking.yml#/CreateBookingRequest"

    UpdateBookingRequest:
      $ref: "./components/schemas/booking.yml#/UpdateBookingRequest"

    # --------------------------
    # Announcement Models
    # --------------------------
    AnnouncementResponse:
      $ref: "./components/schemas/announcement.yml#/AnnouncementResponse"

    CreateAnnouncementRequest:
      $ref: "./components/schemas/announcement.yml#/CreateAnnouncementRequest"

    UpdateAnnouncementRequest:
      $ref: "./components/schemas/announcement.yml#/UpdateAnnouncementRequest"

paths:
  # ============================
  # Auth
  # ============================
  /auth/register:
    $ref: "./paths/auth.yml#/register"

  /auth/login:
    $ref: "./paths/auth.yml#/login"

  # ============================
  # Me
  # ============================
  /me:
    $ref: "./paths/me.yml#/me"

  # ============================
  # Users (System Admin)
  # ============================
  /users:
    $ref: "./paths/users.yml#/listUsers"

  /users/{id}:
    $ref: "./paths/users.yml#/userDetail"

  # ============================
  # Organizations
  # ============================
  /organizations:
    $ref: "./paths/organizations.yml#/listOrganizations"

  /organizations/{id}:
    $ref: "./paths/organizations.yml#/organizationDetail"

  # ============================
  # Members
  # ============================
  /organizations/{id}/members:
    $ref: "./paths/members.yml#/listMembers"

  /organizations/{id}/members/{user_id}:
    $ref: "./paths/members.yml#/removeMember"

  # ============================
  # Managers
  # ============================
  /organizations/{id}/managers:
    $ref: "./paths/managers.yml#/listManagers"

  /organizations/{id}/managers/{user_id}:
    $ref: "./paths/managers.yml#/removeManager"

  # ============================
  # Locations
  # ============================
  /locations:
    $ref: "./paths/locations.yml#/listLocations"

  /locations/{id}:
    $ref: "./paths/locations.yml#/locationDetail"

  /locations/{id}/cover:
    $ref: "./paths/locations.yml#/uploadCover"

  # ============================
  # Location Managers
  # ============================
  /locations/{id}/managers:
    $ref: "./paths/locations.yml#/locationManagers"

  /locations/{id}/managers/{user_id}:
    $ref: "./paths/locations.yml#/removeLocationManager"

  # ============================
  # Resources
  # ============================
  /resources:
    $ref: "./paths/resources.yml#/listResources"

  /resources/{id}:
    $ref: "./paths/resources.yml#/resourceDetail"

  # ============================
  # Bookings
  # ============================
  /bookings:
    $ref: "./paths/bookings.yml#/listBookings"

  /bookings/{id}:
    $ref: "./paths/bookings.yml#/bookingDetail"

  # ============================
  # Announcements
  # ============================
  /announcements:
    $ref: "./paths/announcements.yml#/listAnnouncements"

  /announcements/{id}:
    $ref: "./paths/announcements.yml#/announcementDetail"

  # ============================
  # Files (Login Required)
  # ============================
  /files/{id}:
    $ref: "./paths/files.yml#/serveFile"

  /files/{id}/thumbnail:
    $ref: "./paths/files.yml#/serveThumbnail"

  # ============================
  # Shared / Common Schemas for Reference
  # ============================
  # (The models defined under components/schemas are referenced above)
